<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/static/js/record_score.js"></script>


</head>
<body>
<h3>录入{{ cls.record.class_obj }}day{{ cls_record.day_num }}成绩</h3>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <form action="" method="post">
                <table class="table-hover table-bordered table-stript">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>

                    </thead>




                </table>



            </form>


        </div>


    </div>



</div>
</body>
</html>